{% extends "base.html" %}

{% block navbar_content %}
<i class="fa-solid fa-plane-up"></i>&nbsp;&nbsp; Air Force
{% endblock navbar_content %}


{% block content %}
<div class="container">
  <br><br><br>

  <table class="table table-bordered" id="example" style="text-align: center;">
    <thead class="table-success">
      <tr>
        <th>نوع</th>
        <th>مرتب</th>
        <th>مهنة</th>
        <th>إيميل</th>
        <th>إسم</th>
        <th>م</th>
      </tr>
    </thead>
    <!-- Data from the backend -->
    {% for employee in employees %}
    <tr>
      <td> {{ employee.gender }} </td>
      <td> {{ employee.salary }} </td>
      <td> {{ employee.occupation }} </td>
      <td> {{ employee.email }} </td>
      <td> {{ employee.name }} </td>
      <td> {{ employee.id }} </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}